/* ---------------------- *\
    GENERALES
\* ---------------------- */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui;
    background-color: #fafafa;
}

.container {
    min-width: 320px;
}

.linea-divisoria {
    max-width: 1024px;
    width: calc(100% - 10px);
    border: solid 0.5px #cecece;
    margin: 28px auto 0;
}

/* ---------------------- *\
    BARRA DE NAVEGACION
\* ---------------------- */

header {
    background-color: #343a40;
}

.navbar {
    max-width: 1024px;
    height: 70px;
    margin: 0 auto;
    background-color: #343a40;

    display: grid;
    grid-template-columns: 3fr 2fr; 
}

    .navbar-titulo {
        color: white;
        margin: 0 0 0 10px;;
        display: flex;
        align-items: center;
    }

    .navbar-lista {
        height: inherit;
        padding: 0;
        margin: 0 auto;

        display: flex;
    }

        .elemento-lista {
            list-style-type: none;
            padding: 0 30px;
            height: inherit;
        }

            .elemento-lista .enlace {
                color: #9a9d93;
                font-weight: 500;
                text-decoration: none;
                
                height: inherit;
                
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .elemento-lista .enlace:hover {
                color: #c9ccbe;
            }

/* ---------------------- *\
    SECCION INSTAGRAM
\* ---------------------- */

.instagram-encabezado {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: fit-content;

    border-top: black solid 0.5px;
    padding: 1em 0;
    margin: 0 auto;
}

.instagram-grilla {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

    .instagram-link-container {
        width: 100%;
        position: relative;
    }

        .instagram-container-imagen {
            margin: 0;
        }

            .instagram-container-imagen img {
                width: 100%;
                vertical-align: top;
            }

        .instagram-capa {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .instagram-capa:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

            .instagram-capa-texto {
                height: 100%;
                margin: 0;
                color: transparent;
            }
            .instagram-capa-texto:hover {
                color: white;
                font-weight: 600;

                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

/* ---------------------- *\
    SECCION PINTEREST
\* ---------------------- */

.pinterest-grilla {
    width: 100%;
    margin: 0 auto;
    padding: 28px 5px 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 252px);
    grid-gap: 5px;
    justify-content: center;
}

    .pinterest-link-container {
        width: 100%;
        position: relative;
        border-radius: 5px;
        cursor: zoom-in;
    }
    .pinterest-link-container:hover {
        background-color: #f2f2f2;
    }
    .pinterest-link-container.item-1-fila {
        grid-row-end: span 1;
    }
    .pinterest-link-container.item-2-filas {
        grid-row-end: span 2;
    }
    .pinterest-link-container.item-3-filas {
        grid-row-end: span 3;
    }
        
        .pinterest-container-imagen {
            margin: 8px 8px;
        }

            .pinterest-container-imagen img {
                width: 100%;
                border-radius: 5px;
            }

/* ---------------------- *\
    MEDIA QUERIES 
\* ---------------------- */

@media screen and (max-width: 767px) {

    /* ------- GENERALES ------- */

    .linea-divisoria {
        margin: 18px 0 0;
    }

    /* -- BARRA DE NAVEGACION -- */

    .navbar {
        height: 55px;
    }
    
        .navbar-titulo {
            font-size: 1.4em;
        }

        .elemento-lista {
            padding: 0 15px;
        }
    
                .elemento-lista .enlace {
                    font-weight: 500;
                    font-size: 0.9em
                } 

    /* -- SECCION DE INSTAGRAM -- */
    
    .instagram-encabezado {
        font-size: .8em;
        padding: .7em 0;
    }
    
    .instagram-grilla {
        grid-gap: 3px;
    }
}

@media screen and (max-width: 479px) {

    /* ------- GENERALES ------- */

    .linea-divisoria {
        margin: 13px 0 0;
    }

    /* -- BARRA DE NAVEGACION -- */

    .navbar {
        height: 45px;
    }
    
        .navbar-titulo {
            font-size: 1.1em;
        }

        .elemento-lista {
            padding: 0 10px;
        }
    
            .elemento-lista .enlace {
                font-weight: 500;
                font-size: 0.7em
            } 

    /* -- SECCION DE INSTAGRAM -- */

    .instagram-encabezado {
        font-size: .7em;
        padding: .6em 0;
    }

    .instagram-capa-texto {
        font-size: 0.9em;
    }
}