/* ---------------------- *\
    GENERALES
\* ---------------------- */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: system-ui;
    background-color: #fafafa;
}

.container {
    min-width: 320px;
}

.linea-divisoria {
    max-width: 1024px;
    width: calc(100% - 10px);
    border: solid 0.5px #cecece;
    margin: 28px auto 0;
}

/* ---------------------- *\
    BARRA DE NAVEGACION
\* ---------------------- */

header {
    background-color: #343a40;
}

.navbar {
    max-width: 1024px;
    height: 65px;
    margin: 0 auto;
    background-color: #343a40;

    display: grid;
    grid-template-columns: 3fr 2fr; 
    align-items: center;

}

    .navbar-titulo {
        color: white;
        margin: 0 0 0 10px;
    }

    .navbar-lista {
        height: 100%;
        padding-left: 0;
        margin: 0 0 0 auto;

        display: grid;
        grid-template-columns: repeat(3, auto);
    }

        .elemento-lista {
            height: 100%;
            list-style-type: none;
        }

            .elemento-lista .enlace {
                height: inherit;
                color: #9a9d93;
                font-weight: 500;
                text-decoration: none;
                padding: 0 15px;
                
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .elemento-lista .enlace:hover {
                color: #c9ccbe;
            }

/* ---------------------- *\
    SECCION INSTAGRAM
\* ---------------------- */

.instagram-encabezado {
    font-size: .9em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: fit-content;

    border-top: black solid 0.5px;
    padding: 1em 0;
    margin: 0 auto;
}

.instagram-grilla {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 5px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

    .instagram-link-container {
        width: 100%;
        position: relative;
    }

        .instagram-container-imagen {
            margin: 0;
        }

            .instagram-container-imagen img {
                width: 100%;
                vertical-align: top;
            }

        .instagram-capa {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .instagram-capa:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

            .instagram-capa-texto {
                height: 100%;
                margin: 0;
                color: transparent;
            }
            .instagram-capa-texto:hover {
                color: white;
                font-weight: 600;

                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

/* ---------------------- *\
    SECCION PINTEREST
\* ---------------------- */

.pinterest-grilla {
    width: 100%;
    margin: 0 auto;
    padding: 20px 5px 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, 252px);
    grid-gap: 5px;
    justify-content: center;
}

    .pinterest-link-container {
        width: 100%;
        position: relative;
        border-radius: 8px;
        cursor: zoom-in;
    }
    .pinterest-link-container:hover {
        background-color: #f2f2f2;
    }
    .pinterest-link-container.item-1-fila {
        grid-row-end: span 1;
    }
    .pinterest-link-container.item-2-filas {
        grid-row-end: span 2;
    }
    .pinterest-link-container.item-3-filas {
        grid-row-end: span 3;
    }
        
        .pinterest-container-imagen {
            margin: 8px 8px;
        }

            .pinterest-container-imagen img {
                width: 100%;
                border-radius: 8px;
            }

/* ---------------------- *\
    SECCION MOVIES
\* ---------------------- */

.movies-grilla {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 65px auto;
}

    .movies-navbar {
        height: calc(100vh - 65px);
        background-color: #b63f3f;
        border-top: solid 1.5px #cecece;
        box-sizing: border-box;
        padding: 5px 0; 
        
        display: grid;
        grid-template-rows: 80px 80px 80px 1fr 80px;
    }
    
        .movies-navbar-link {
            color: white;
            text-align: center;
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .movies-navbar-link:last-of-type {
            grid-row-start: 5;
        }
        
            .navbar-link-icon {
                width: 100%;
                font-size: 1.2em;
            }
            
            .navbar-link-texto {
                margin: 0px;
                font-size: 0.7em;
                font-weight: 500;
            }
    
    .movies-peliculas {
        max-height: calc(100vh - 65px);
        padding-left: 25px;
        border-top: solid 1.5px #cecece;
        box-sizing: border-box;
        box-shadow: -5px 10px 10px rgba(0, 0, 0, .2) inset;
        overflow: auto; 

        display: grid;
        grid-template-rows: auto 1fr auto 1fr auto 1fr
    }

        .peliculas-titulo {
            font-weight: 700;
            font-size: 1em;
            margin-bottom: 10px;
        }

        .peliculas-seccion {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 240px;
            column-gap: 30px;
        }

            .pelicula-contenedor-imagen {
                margin: 0;
                position: relative;
            }

                .pelicula-imagen {
                    width: 100%;
                    vertical-align: top;
                }

                .pelicula-contenido {
                    background-color: rgba(182, 63, 63, .6);
                    padding: 10px;
                    color: white;

                    position: absolute;
                    bottom: 0;       
                }

                    .pelicula-contenido-titulo {
                        margin: 0;
                        font-weight: 600;
                        font-size: .9em
                    }

                    .pelicula-contenido-descripcion {
                        margin: 0;
                        font-size: .6em
                    }

/* ---------------------- *\
    MEDIA QUERIES 
\* ---------------------- */

@media screen and (max-width: 767px) {

    /* ------- GENERALES ------- */

    .linea-divisoria {
        margin-top: 18px;
    }

    /* -- BARRA DE NAVEGACION -- */

    .navbar {
        height: 55px;
    }
    
        .navbar-titulo {
            font-size: 1.4em;
        }
        
            .elemento-lista .enlace {
                font-size: 0.9em;
                padding: 0 15px;
            } 

    /* -- SECCION DE INSTAGRAM -- */
    
    .instagram-encabezado {
        font-size: .8em;
        padding: .7em 0;
    }
    
    .instagram-grilla {
        grid-gap: 3px;
    }

    /* -- SECCION DE PINTEREST -- */

    .pinterest-grilla {
        padding-top: 10px;
    }
}

@media screen and (max-width: 479px) {

    /* ------- GENERALES ------- */

    .linea-divisoria {
        margin-top: 13px;
    }

    /* -- BARRA DE NAVEGACION -- */

    .navbar {
        height: 45px;
    }
    
        .navbar-titulo {
            font-size: 1.1em;
        }
        
            .elemento-lista .enlace {
                font-size: 0.7em;
                padding: 0 10px;
            } 

    /* -- SECCION DE INSTAGRAM -- */

    .instagram-encabezado {
        font-size: .7em;
        padding: .6em 0;
    }

    .instagram-capa-texto {
        font-size: 0.9em;
    }

    /* -- SECCION DE PINTEREST -- */

    .pinterest-grilla {
        padding-top: 6px;
    }
}