/* ---------------------- *\
    SECCION INSTAGRAM
\* ---------------------- */

.instagram-grilla {
    max-width: 955px;
    margin: 0 auto;
    padding: 28px 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 28px;
}

    .instagram-link-container {
        width: 100%;
        position: relative;
    }

        .instagram-container-imagen {
            margin: 0;
        }

            .instagram-container-imagen img {
                width: 100%;
                vertical-align: top;
            }

        .instagram-capa {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .instagram-capa:hover {
            background-color: rgba(0, 0, 0, 0.4);
        }

            .instagram-capa-texto {
                color: transparent;
                margin: 0;
                height: 100%;
                font-weight: 600;

                display: grid;
                grid-template: 100% / auto 30px auto;
                align-items: center;
            }
            .instagram-capa-texto:hover {
                color: white;
            }
            .instagram-capa-texto span:first-child {
                justify-self: self-end;
            }
            .instagram-capa-texto span:last-child {
                grid-column-start: 3;
            }

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 768px) {
    
    .instagram-grilla {
        grid-gap: 3px;
        padding: 6px 0;
    }

    .instagram-capa-texto:hover {
        grid-template: 1fr 1fr / 100%;
        align-items: initial;
        justify-items: center;
    }

    .instagram-capa-texto span:first-child {
        justify-self: initial;
        align-self: flex-end;
        margin-bottom: 3px
    }
    .instagram-capa-texto span:last-child {
        grid-column-start: initial;
        margin-top: 3px;
    }
}

@media screen and (max-width: 480px) {

    .instagram-capa-texto {
        font-size: 0.9em;
    }
}