/* ---------------------- *\
    SECCION MOVIES
\* ---------------------- */

.movies-grilla {
    max-width: 1024px;
    margin: 0 auto;

    display: grid;
    grid-template: auto 65px / 65px auto;
    grid-template-areas: "navbar peliculas" "navbar peliculas"
}

    .movies-navbar {
        grid-area: navbar;
        height: calc(100vh - 65px);
        background-color: #b63f3f;
        border-top: solid 1.5px #cecece;
        box-sizing: border-box;
        padding: 5px 0; 
        
        display: grid;
        grid-template-rows: 80px 80px 80px 1fr 80px;
    }
    
        .movies-navbar-link {
            color: white;
            text-align: center;
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .movies-navbar-link:last-of-type {
            grid-row-start: 5;
        }
        
            .navbar-link-icon {
                width: 100%;
                font-size: 1.2em;
            }
            
            .navbar-link-texto {
                margin: 0px;
                font-size: 0.7em;
                font-weight: 500;
            }
    
    .movies-peliculas {
        grid-area: peliculas;
        height: calc(100vh - 65px);
        padding-left: 25px;
        border-top: solid 1.5px #cecece;
        box-sizing: border-box;
        box-shadow: -5px 10px 10px rgba(0, 0, 0, .2) inset;
        overflow: auto; 

        display: grid;
        grid-template-rows: repeat(3, 1fr 5fr)
    }

        .peliculas-titulo {
            font-weight: 700;
            font-size: 1em;
            margin-bottom: 10px;
        }

        .peliculas-seccion {
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 240px;
            column-gap: 30px;
        }

            .pelicula-contenedor-imagen {
                margin: 0;
                position: relative;
            }

                .pelicula-imagen {
                    width: 100%;
                    vertical-align: top;
                }

                .pelicula-contenido {
                    background-color: rgba(182, 63, 63, .6);
                    padding: 10px;
                    color: white;

                    position: absolute;
                    bottom: 0;       
                }

                    .pelicula-contenido-titulo {
                        margin: 0;
                        font-weight: 600;
                        font-size: .9em
                    }

                    .pelicula-contenido-descripcion {
                        margin: 0;
                        font-size: .6em
                    }

/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 768px) {

    .movies-grilla {
        grid-template: auto 55px / 55px auto;
    }
    
        .movies-navbar {
            height: calc(100vh - 55px);
            padding: 0;
        }

            .navbar-link-icon {
                font-size: 1.15em;
            }
            .navbar-link-texto {
                font-size: 0.6em;
            }
        
        .movies-peliculas {
            height: calc(100vh - 55px);
            padding-left: 20px;
        }
    
            .peliculas-titulo {
                margin-bottom: 5px;
                margin-top: 12px;
            }
    
            .peliculas-seccion {
                grid-auto-columns: 230px;
                column-gap: 20px;
            }
    
                .pelicula-contenido {
                    padding: 5px;    
                }

                    .pelicula-contenido-titulo {
                        font-size: 0.8em
                    }
                    .pelicula-contenido-descripcion {
                        font-size: 0.55em
                    }
    
}

@media screen and (max-width: 480px) {

    .movies-grilla {
        grid-template: auto 45px / 45px auto;
        grid-template-areas: "peliculas peliculas" "navbar navbar"
    }
    
        .movies-navbar {
            height: 45px;
            grid-template: 100% / 1fr 1fr 1fr 1fr;
        }
        .movies-navbar-link:last-of-type {
            grid-row-start: initial;
        }

            .navbar-link-icon {
                font-size: 1.1em;
            }
            .navbar-link-texto {
                font-size: 0.5em;
            }
        
        .movies-peliculas {
            height: calc(100vh - 90px);
            padding-left: 5px;
        }
    
            .peliculas-titulo {
                font-size: 0.9em;
            }
    
            .peliculas-seccion {
                grid-auto-columns: 220px;
                column-gap: 10px;
            }

                .pelicula-contenido-titulo {
                    font-size: 0.8em
                }
                .pelicula-contenido-descripcion {
                    font-size: 0.5em
                }
}